#quiz {
    text-align: center;
  }

  #choices {
    list-style: none;
    padding: 0;
  }
  
  #start  {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
  }
  
  #timer{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
  }
  
  
   #score {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
  }
  #total {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
  }
  
  li {
    font-family: 'Julius Sans One', sans-serif;
    display: inline-block;
    margin: 10px;
  }
  h1{font-family: 'Julius Sans One', sans-serif;}
  
  button {font-family: 'Julius Sans One', sans-serif;}
  
  #question {font-family: 'Julius Sans One', sans-serif;}

  #gameover {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
  display: none;
  }

  #highscoreform {
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 20px;
  }
  
  #highscoreform label {
    font-family: 'Julius Sans One', sans-serif;
    margin-right: 10px;
  }

  #restart, #highscoreform button {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
  }
  
  #highscoreform input {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    padding: 5px;
  }
    .img-fluid{
      height: 200px;
      width: 200px;
      align-content: center;
    }
  